.container {
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.642);
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

label {
    color:greenyellow;
}
.ruby {
    display:none;
}

.cSharp {
    display:none;
}

.python {
    display:none;
}

body {
    margin-top: 20%;
    background-image: url(/IMG/pngkey.com-matrix-code-png-1056183.png);
    background-size: contain;
    background-color: black;
}