.hidden {
  display: none;
}
.container#containerHeading {
    color: greenyellow;
}


label {
    color:rgb(104, 153, 32);
    
}
.ruby {
    display:none;
}

.cSharp {
    display:none;
}

.python {
    display:none;
}

body {

    background-color: white;
    font-size: 20pt;
    width: 90%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    color: black;
    background-color: transparent;
    font-family:monospace;
}
